<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> predef global func - and</title>
</head>
<body>


{{if gt .Score1 .Score2}}
score1 > score2
{{end}}

{{if lt .Score1 .Score2}}
score1 < score2
{{end}}

{{if eq .Score1 .Score2}}
score1 = score2
{{end}}

{{if lt .Score1 10}}
score1 < 10
{{end}}

</body>
</html>

