<!DOCTYPE hmtl>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Functions in template</title>
</head>
   <body>

{{. | fdbl}}

{{. | fdbl | fsquare}}

{{. | fdbl | fsquare | fsqRoot}}


    </body>
</html>