<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<title>Hello world go web</title>
</head>
<body>
{{$someVariable := .}}
	<h1>We passed variable data in a file - {{$someVariable}} </h1>
</body>
</html>