<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> ex3 </title>
</head>
<body>


{{range.}}
    {{.RestourantName}}
    {{range .Food}}

            {{.Name}} - {{.Price}}

    {{end}}
{{end}}

</body>
</html>

