<!DOCTYPE hmtl>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Functions in template</title>
</head>
   <body>

Withoud date formatting {{.}}

With date formatting {{fdateMDY .}}


    </body>
</html>