<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Composition </title>
</head>
<body>

<h1>{{.Name}}</h1>
<h2>{{.Age}}</h2>
{{if .DriveLicense}}
<h3>DriveLicense</h3>
{{end}}
</body>
</html>

