<!DOCTYPE hmtl>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Functions in template</title>
</head>
   <body>

    {{range .Persons}}
    {{uc .Name}}
    {{end}}

    {{range .Persons}}
    {{ft .Name}}
    {{end}}

    </body>
</html>